html, body {background: none; background: #fff;}

html {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  padding: 0;
  margin: 0 0 .5em;
  line-height: 1.2em;
  font-weight: 300;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

p {font-family: 'Open Sans', Helvetica, Arial, sans-serif; font-weight: 300; font-size: .8em;}

h1 {font-size: 1.5em;}
h2 {font-size: 1.4em;}
h3 {font-size: 1.3em;}
h4 {font-size: 1.2em;}
h5 {font-size: 1.1em;}
h6 {font-size: 1em;}

img { width: 100%; margin: 1em auto;}

ul {font-size: .5em;}

li {display: block; padding: .5em 0;}
li em {display: block;}

.step {width: 1100px; padding: 0;}

.language-markdown { font-size: .5em; font-family: Inconsolata; display: block; line-height: 1em; word-wrap: break-word; margin-top: 50px; }
.hashtag {position: absolute; bottom: 25px; right: 25px; font-size: 1.5em; }

#background { position: absolute: z-index: -1; opacity: .1; top: 0; left: 0; }
#background img { height: 100%; width: 100%; margin: 0; }

.flow-block { width: 100%; border: 1px solid #ccc; margin-bottom: 10px;  background: rgba(255,255,255,.8); text-align: center; padding: .1em .2em; font-size: .8em;  }
.flow-block h3 { font-size: .5em; left: 5px; margin-top: 10px; position: absolute; font-weight: bold; }
.flow-block.title {background: rgba(0,0,0,.6); color: #fff;}
.flow-block.title h3 { margin-left: auto; margin-right: auto; position: relative; }
.flow-block ul { margin-left: auto; margin-right: auto; }
.flow-block ul li { display: inline-block; margin-left: 25px; border: 1px solid #ccc; background: #eee; padding: 5px; }
