h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  padding: 0; 
  margin: 0 0 .5em; 
  line-height: 1.2em;
} 

h1 {font-size: 1.5em;}
h2 {font-size: 1.4em;}
h3 {font-size: 1.3em;}
h4 {font-size: 1.2em;}
h5 {font-size: 1.1em;}
h6 {font-size: 1em;}

img { width: 100%;}

ul {
  font-size: .5em;
}

li {display: block; padding: .5em 0;}
li em {display: block;}